# Bag-of-Words
It is a data-structure where you split the documents into smaller chunks of meanings, where we ignore the construction of a sentence and remove punctuations.

Large documents can be summarized using Bag-of-Words.

In [0]:
senten1= """This is introduction to NLP & NLU"""

In [14]:
sentence_bow = {}
for token in senten1.split(): sentence_bow[token] = 1
sorted(sentence_bow.items())

[('&', 1),
 ('NLP', 1),
 ('NLU', 1),
 ('This', 1),
 ('introduction', 1),
 ('is', 1),
 ('to', 1)]

This gives the words in the sentence and we can also call this model as word_frequency vector.

Using a dictionary data type will remove the duplicates and makes the process much easy.

In [15]:
# implemeting dictionary

import pandas as pd
df = pd.DataFrame(pd.Series(dict([(token, 1) for token in senten1.split()])), columns=['senten1']).T
df

         This  is  introduction  to  NLP  &  NLU
senten1     1   1             1   1    1  1    1

Add more to the existing to sentences and perform the word of vectors

In [0]:
# creating a play corpus
senten1= """This is introduction to NLP & NLU. \n"""
senten1 += """Deep learning is the new electrcity. \n"""
senten1 += """python is the best language! \n"""
senten1 += """I like this note-book."""
corpus = {}

In [0]:
for i, sent in enumerate(senten1.split('\n')): corpus['sent{}'.format(i)] = dict((tok, 1) for tok in sent.split())

In [0]:
df = pd.DataFrame.from_records(corpus).fillna(0).astype(int).T

In [20]:
df[df.columns[:10]]

       &  Deep  I  NLP  NLU.  This  best  electrcity.  introduction  is
sent0  1     0  0    1     1     1     0            0             1   1
sent1  0     1  0    0     0     0     0            1             0   1
sent2  0     0  0    0     0     0     1            0             0   1
sent3  0     0  1    0     0     0     0            0             0   0

**Overlap in Bag-of-Words**
If we measure the bag-of-words for two documents or two vectors, we can know the similarity between two documents.