# N-Grams

An n-gram is a sequence containing up to n elements that have been extracted from a sequence of those elements, usually a string.

In general the “elements” of an n-gram can be characters, syllables, words, or even symbols like “A,” “T,” “G,” and “C” used to represent a DNA sequence.

In [0]:
senten1= """One Mistake Led This Entrepreneur To Build A $3.5 Billion Business"""

In [7]:
# using regular expression
import re
pattern = re.compile(r"([-\s.,;!?])+")
tokens = pattern.split(senten1)
tokens = [x for x in tokens if x and x not in '- \t\n.,;!?']
tokens

['One',
 'Mistake',
 'Led',
 'This',
 'Entrepreneur',
 'To',
 'Build',
 'A',
 '$3',
 '5',
 'Billion',
 'Business']

In [12]:
# using nltk for bi-grams.
import nltk
from nltk.util import ngrams
list(ngrams(tokens, 2))

[('One', 'Mistake'),
 ('Mistake', 'Led'),
 ('Led', 'This'),
 ('This', 'Entrepreneur'),
 ('Entrepreneur', 'To'),
 ('To', 'Build'),
 ('Build', 'A'),
 ('A', '$3'),
 ('$3', '5'),
 ('5', 'Billion'),
 ('Billion', 'Business')]

In [11]:
# using NLTK for tri-grams.
list(ngrams(tokens, 3))

[('One', 'Mistake', 'Led'),
 ('Mistake', 'Led', 'This'),
 ('Led', 'This', 'Entrepreneur'),
 ('This', 'Entrepreneur', 'To'),
 ('Entrepreneur', 'To', 'Build'),
 ('To', 'Build', 'A'),
 ('Build', 'A', '$3'),
 ('A', '$3', '5'),
 ('$3', '5', 'Billion'),
 ('5', 'Billion', 'Business')]